<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Index</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/index.css">
    <link rel="stylesheet" href="/css/main.css">
</head>

<body>
<nav class="navbar fixed-top navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">
      <img src="/images/logo.png" alt="Logo" width="30" height="24">
      <b>Tanuki Racing Leaderboard</b>


    </a>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" aria-current="page" href="/">Home</a>
        <a class="nav-link" href="/leaderboard">Leaderboard</a>
        <a class="nav-link" href="/edit">Time Submission</a>
        <a class="nav-link" href="/about">About</a>
      </div>
    </div>
  </div>
        
</nav>
    
<div class="card" style="width: 27em;">
  <div class="card-body">
    <h5 class="card-title">About Tanuki Racing</h5>
    <p class="card-text">This applciation is the primary application used in hands on content created by GitLab for Workshops/Labs. It can be used to show off how GitLab can enable you through all stages of the SDLC. Please reach out to your rep if you are interested in any of the following hands on events: Adv CICD, Basic CICD, Security and Compliance, Devloping with AI, Project Management, and more.</p>
  </div>
</div>

</body>